<div class="center jumbotron">
<h1>Wellcome to Chefs Kitchen</h1>
<h2>This is the homepage for profesional chefs (and ruby developers)</h2>
<%= link_to  "Sign up now!", " " , class: "btn btn-lg btn-success" %>
</div>